name: "Init container for k8s operator"

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Release tag of the agent'     
        required: true
      init_image_tag:
        description: 'Image tag'  
        required: true
        default: "0"



jobs:  
  set_image_tag_variable:
    runs-on: ubuntu-latest
    name: Build and push Docker image
    steps:
    - name: Set release tag
      shell: bash
      run: |
          echo "::set-output name=TAG_NAME::$(echo ${{ inputs.release_tag }} | sed -E 's/^([0-9]*\.[0-9]*\.[0-9]*).*/\1/')-init.${{ inputs.init_image_tag }}"
      id: set_tag

    - uses: actions/checkout@v3


    - name: Login to DockerHub
      if: ${{ success() }}
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USER }}
        password: ${{ secrets.DOCKERHUB_PASS }}

    - name: Build and push linux container
      uses: docker/build-push-action@v3
      with:
        context: .
        file: ./lightrun-init-agent/Dockerfile
        push: true
        tags: "lightruncom/k8s-operator-init-java-agent-linux:${{steps.set_tag.outputs.TAG_NAME}}"
        build-args: |
          GITHUB_TOKEN=${{ secrets.PRETTY_GITHUB_READ_TOKEN }}
          VERSION=${{ inputs.release_tag }}
          FILE=agent.zip

    - name: Build and push alpine container
      uses: docker/build-push-action@v3
      with:
        context: .
        file: ./lightrun-init-agent/Dockerfile
        push: true
        tags: "lightruncom/k8s-operator-init-java-agent-alpine:${{steps.set_tag.outputs.TAG_NAME}}"
        build-args: |
          GITHUB_TOKEN=${{ secrets.PRETTY_GITHUB_READ_TOKEN }}
          VERSION=${{ inputs.release_tag }}
          FILE=agent-alpine.zip
          